*.color0:      #08002e
*.color8:      #331e4d
*.color1:      #64002c
*.color9:      #d02063
*.color2:      #5d731a
*.color10:     #b4ce59
*.color3:      #cd751c
*.color11:     #fac357
*.color4:      #1d6da1
*.color12:     #40a4cf
*.color5:      #b7077e
*.color13:     #f12aae
*.color6:      #42a38c
*.color14:     #62caa8
*.color7:      #f3e0b8
*.color15:     #fff5db
